@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

.dark {
  background-color: rgb(17, 25, 38);
}

html {
  font-family: "Raleway", sans-serif;
 
}

#text {
  height: 30vw;
  width: 50vw;
  stroke-dasharray: 3877.17236328125;
  animation: 4s fillSvg linear infinite;
}

@keyframes fillSvg {
  0%{
    stroke-dashoffset: 3877.17236328125;
  }
  100%{
    stroke-dashoffset: 0;
  }
}
